html, body {
    margin: 0;
    padding: 0;
    line-height: normal;
}

head {
    font: small-caps 100%/200% serif; 
}

body {
	background-color: #e6d74dea;
	font-family: 'Roboto', sans-serif;
	text-align: center;
    color: rgb(56, 51, 51);
}

.box {
    margin-bottom: 30px;
}

#titulo {
    font-size: 20px;
}

.clase-numero {
    color: #000000;
    font-weight: bold;
    font-weight: 600;
}

#resultado1 {
    color: black;
}

#resultado2 {
    color: black;
}

#resultado3 {
    color: black;
}

#resultado4 {
    color: black;
}

#resultado5 {
    color: black;
}