html, body {
    margin: 0;
    padding: 0;
}

head {
    font: small-caps 100%/200% serif; 
}

body {
    background-image: url("https://fondosmil.com/fondo/6594.jpg");
    background-size: 100% 100%;
	max-width: 100%;
	box-sizing: border-box;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	text-align: center;
    color: rgb(255, 255, 255);
}



#titulo {
    font-size: 20px;
}

.clase-numero {
    color: #ffffff;
    font-weight: bold;
    font-weight: 600;
}

#resultado1 {
    color: black;
}

#resultado2 {
    color: black;
}

#resultado3 {
    color: black;
}

#resultado4 {
    color: black;
}

#resultado5 {
    color: black;
}